<div class="container">
    <h1>Create a New Event</h1>

    Name:<br>
    <input type="text" ng-model="inputName"><br>

    Description:<br>
    <input type="text" ng-model="inputDescrip"><br>

    Required People:<br>
    <input type="text" ng-model="inputMaxPpl"><br>

    Start Time:<br>
    <input type="text" ng-model="inputStartTime"><br>

    End Time:<br>
    <input type="text" ng-model="inputEndTime"><br>

    Latitude:<br>
    <input type="text" ng-model="inputLat"><br>

    Longitude:<br>
    <input type="text" ng-model="inputLon"><br>

    Tags:<br>
    <input type="text" ng-model="inputTags"><br>

    <input type="submit" value="Add Event!" ng-click="addEvent()">
</div>
