
   
    <div id="map-canvas2"><img src="img/party.jpg"/></div>
     <h1 class='yolo'>Create a New Event</h1>

    <div class="container wrapper">
    Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
    <input type="text" size="70px" ng-model="inputName" ng-init="inputName='Event Name'"><br><br>

    Description:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" size="70px" ng-model="inputDescrip" ng-init="inputDescrip='Event Description'"><br><br>

    Required People:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <input type="text" size="70px" ng-model="inputMaxPpl" ng-init="inputMaxPpl='10'"><br><br>

    Start Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <input type="text" size="70px" ng-model="inputStartTime" ng-init="inputStartTime='1:00PM'"><br><br>

    End Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <input type="text" size="70px" ng-model="inputEndTime" ng-init="inputEndTime='2:00PM'"><br><br>

    Latitude:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" size="70px" ng-model="inputLat" ng-init="inputLat='0.0'"><br><br>

    Longitude:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" size="70px" ng-model="inputLon" ng-init="inputLon='0.0'"><br><br>

    Tags:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" size="70px" ng-model="inputTags" ng-init="inputTags='vancouver'"><br><br>

    <button style="margin-bottom: 20px" ng-click="addEvent()">Add Event!</button>
</div>
