    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active"><a ng-click="findgroups()">Find Groups</a></li>
      <li role="presentation" > <a ng-click="instafeed()">What's New</a></li>
    </ul>
    <div>
    
    <div id="map-canvas"><img src="img/map.png"/></div>
    <button type="add" ng-click="createevent()">ADD AN EVENT</button>

    
    <div class="gevent" ng-repeat="event in events">
      <h4 class="event-name">{{event.name}}</h4>
      <div class="event-description">{{event.description}}</div>
      <div class="event-date">{{event.startTime}} to {{event.endTime}}</div>
    
    </div>

    
  </div>