div h1 {
	color: white;
	font-size: 50px;
	font-weight: bold;
}    


#LoginButtonDiv {
    text-align: center;
	width: 50%;
	margin: 50px auto;
}

.login-button {
	height: 60px;
	font-size: 20px;
	border-radius: 10px;
}
